
  .olho {
    cursor: pointer;
    left: 160px;
    position: absolute;
    width: 20px;
    top: 115px;
    left: 320px;
  }

  #password {
    position: relative;
  }

  
  .olho-cadastro {
    cursor: pointer;
    left: 160px;
    position: absolute;
    width: 20px;
    top: 125px;
    left: 871px;
  }

  .olho-cadastro2 {
    cursor: pointer;
    left: 160px;
    position: absolute;
    width: 20px;
    top: 172px;
    left: 871px;
  }

  .buttom__check {
    max-width: 70px;
    height: 38px;
    margin-left: -10px;
  }

  .buttom__delet {
    max-width: 20px;
    fill:red;
    background-color: white;
  }

  .atributos__list {
    margin-top: -5px;
    list-style-type: none;
    padding-left: 0px;
  }

  .input__itens {
    margin-top: 20px;
  }

 